@model Hotline.Models.Reclamation

@{
    Layout = null;
    ViewData["Title"] = "Delete";
}

<h3 class="text-center">Voulez vous supprimez cette réclamation?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Numero) :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Projet) :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Projet.Nom)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Domaine) :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Domaine.Nom)
        </dd>
    </dl>

    <form asp-action="Delete" class="d-flex justify-content-center">
        <input type="hidden" asp-for="Numero" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
    </form>
</div>
