@model PaginatedList<Hotline.Models.Reclamation>

@{
    ViewData["Title"] = "Index";
}


<div class="row mb-2">
    <div class="col-sm pr-0 pl-4">
        <a class="btn btn-primary btn-block mr-0 rounded-0" asp-action="Index">Réclamations en cours</a>
    </div>
    <div class="col-sm pl-1 pr-1">
        <a class="btn btn-primary btn-block ml-0 rounded-0" asp-route-résolue=@true>Réclamations Résolues</a>
    </div>
    <div class="col-sm pl-0 pr-4">
        <a class="btn btn-primary btn-block ml-0 rounded-0" asp-route-cloturé=@true>Réclamations Cloturées</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th>
                Client
            </th>
            <th>
                Projet
            </th>
            <th>
                Domaine
            </th>
            <th>
                Description
            </th>
            <th>
                Date de soumission
            </th>
            <th>
                Statut
            </th>
            <th>
                Date d'afféctation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projet.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domaine.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSoumission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAffectation)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Numero">Details</a>
                @if (ViewData["recs"] as string == "Résolue")
                {
                    <a asp-action="Cloturer" asp-route-id="@item.Numero">Cloturer</a>
                }
                else if (ViewData["recs"] as string == "Autre")
                {
                    <a asp-action="Edit" asp-route-id="@item.Numero">Solution</a>
                }
                else if (ViewData["recs"] as string == "Cloturé")
                {
                    <button class="btn btn-danger" onclick="showInPopup('ReclamationsClient/Delete/'+@item.Numero, 'Supprimer Reclamation')"><i class="fas fa-trash"></i></button>


                }
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
