@model Hotline.Models.Reclamation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div id="center">
    <a asp-action="Index" asp-controller="ReclamationsClient"><i class="fas fa-arrow-left fa-2x"></i></a>
    <h3 class="text-center mb-3">Details de la réclamation N° @Model.Numero</h3>
    <hr />
    <dl class="row">

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Numero) :
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Projet) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Projet.Nom)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Domaine) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domaine.Nom)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DateSoumission) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateSoumission)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Statut) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DateAffectation) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAffectation)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DateResolution) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateResolution)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Solution) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Solution)
        </dd>
    </dl>
</div>

