@model PaginatedList<Hotline.Models.Reclamation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numéro
            </th>
            <th>
                Description
            </th>
            <th>
                Projet
            </th>
            <th>
                Domaine
            </th>
            <th>
                Date de soumission
            </th>
            <th>
                Statut
            </th>
            <th>
                Date d'affectation
            </th>
            <th>
                Date de résolution
            </th>
            <th>
                Solution
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projet.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domaine.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSoumission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAffectation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Numero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Numero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Numero">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>