@model PaginatedList<Hotline.Models.Reclamation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row mb-2">
    <div class="col-sm pr-0 pl-4">
        <a class="btn btn-primary btn-block mr-0 rounded-0" asp-action="Index">Réclamations en cours</a>
    </div>
    <div class="col-sm pl-1 pr-1">
        <a class="btn btn-primary btn-block ml-0 rounded-0" asp-route-résolue=@true>Réclamations Résolues</a>
    </div>
    <div class="col-sm pl-0 pr-4">
        <a class="btn btn-primary btn-block ml-0 rounded-0" asp-route-cloturé=@true>Réclamations Cloturées</a>
    </div>
</div>



<table class="table border">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th>
                Client
                <a asp-route-sortOrder="@ViewData["ClientSortParamAsc"]">&#9650;</a>
                <a asp-route-sortOrder="@ViewData["ClientSortParamDesc"]">&#9660;</a>
            </th>
            <th>
                Date de soumission
                <a asp-route-sortOrder="@ViewData["DateSortParamAsc"]">&#9650;</a>
                <a asp-route-sortOrder="@ViewData["DateSortParamDesc"]">&#9660;</a>
            </th>
            <th>
                Statut
                <a asp-route-sortOrder="@ViewData["StatutSortParamAsc"]">&#9650;</a>
                <a asp-route-sortOrder="@ViewData["StatutSortParamDesc"]">&#9660;</a>
            </th>
            <th>
                Responsable
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSoumission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable.Login)
                </td>
                <td>
                    @if (ViewData["recs"] as string == "Autre")
                    {
                        if (item.Statut == "Soumise")
                        {
                            <a asp-action="Edit" asp-route-id="@item.Numero">Affecter</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Numero"> Details </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>