@model IEnumerable<Hotline.Models.User>

@{
    ViewData["Title"] = "Index";
    var error = TempData["Error"] as string;
}

@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger"> @error </h2>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                <a class="btn btn-success ml-5" asp-action="Create"><i class="fas fa-plus"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @if (item.Admin == true)
                    {<h4>&#10004;</h4>}
                    else
                    {<h4>&#10006;</h4>}
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                    <button class="btn btn-danger" onclick="showInPopup('@Url.Action("Delete","Users",item,Context.Request.Scheme)', 'Supprimer User')"><i class="fas fa-trash"></i></button>

                </td>
            </tr>
        }
    </tbody>
</table>
